<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.demolition">
    
    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="34" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:icon="@drawable/applogo"
        android:roundIcon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demolition"
        tools:targetApi="34">

        <!-- Splash / Launcher Activity -->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Demolition.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Entry -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />

        <!-- Authentication -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".UserDataActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Learning Modules -->
        <activity
            android:name=".ChapterViewerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".QuizQuestionsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Subjects -->
        <activity
            android:name=".MathActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ScienceActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".EnglishActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SstActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
 
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
